.carousel-inner{
     position: relative;
    }
.carousel-inner .carousel-item {
   
    
}
.carousel-inner .carousel-item::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.555);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
   

}

.carousel-caption {
    margin-bottom: 300px;
}
.header-menu {
    background: #0fb3cd38 !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    background: #1ecfbf00 !important;
}
.navbar {
    background: #25bd8500 !important;
}